.App{
  text-align: center;
  /* display: flex; */

}
.profile-pic{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.2s;
}
.profile-pic:hover{
  transform: scale(1.1);
}